.eachRow {
    padding-bottom: 10px;
 
 }
 .rule {
     padding: 10px;
 }
 
 .card {
     border: none !important;
 }
 .custom-card {
     box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
     position: relative;
     z-index: 1;
     border-radius: 0px;
     transition: .3s cubic-bezier(.4,0,.2,1);
     transition-property: color,background-color;
     will-change: color,background-color;
 }

.collapsed > .when-open,
.not-collapsed > .when-closed {
    display: none;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
    
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.custom-select-button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.custom-select-button > * {
    width: 120px;
}

.singleLine {
    margin-right: 5px;
}

.custom-tab-view {
    background: rgb(221, 220, 220, 0.25);
    margin-bottom: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    z-index: 1;
    border-radius: 0px;
    transition: .3s cubic-bezier(.4,0,.2,1);
    transition-property: color,background-color;
    will-change: color,background-color;
}
.custom-tab-body {
    padding: 10px 10px 0px 10px;
}

.filter {
    padding: 10px;
    margin: 10px 0px;
    /* background: #442c2c; */
    border-radius: 5px;
}
.filter:last-child {
    padding-bottom: 0px;
}

.notification {
    padding: 10px 0px
}

.link-line {
    margin-bottom: 10px;
    display: flex;
    align-items: stretch;
    align-content: center;
}

.link-line :first-child {
    flex-grow: 8;
}


.mock-editor {
    background: rgb(32, 23, 23);
    color: white;
    font-weight: 300;
    font-size: medium;
    margin-bottom: 10px;
}
