
.app-info {
    text-align: center;
    padding-top: 25px;
}

.app-info > * {
   width: 100%;
}

.app-desc {
    font-weight: 400;
    padding: 25px;
    text-align: left;
}

.me {
    padding: 15px;
    font-size: large;
    font-weight: 400;
    text-align: center;
}

.thanks{
    position: fixed;
    bottom: 0;
    font-size: small;
    padding: 15px;
    text-align: center;
    left: 0;
    right: 0;
}
