<div>
    <div class="app-info">
        <div>
            <strong>{{info.app_name}}</strong>
        </div>
        <div>
            <strong>{{info.version}}</strong>
        </div>
    </div>
    <div class="app-desc">
        SwaVan allow you to Intercept and forward XHR request to another endpoint.
        You can add redirect URL or you can mock data within the app.
    </div>
    <div class="me">
        You can find me <a target="blank" href="https://www.linkedin.com/in/biplabpokhrel007/">Here</a> and
        <a target="blank" href="https://twitter.com/BiplabPokhrel2">Here</a>
    </div>

    <div class="thanks">
        Special Thanks to <a href="https://twitter.com/julien_lafont" target="blank">julien_lafont</a>
        for allowing us to use <a href="https://designer.mocky.io" target="blank">https://designer.mocky.io</a> to mock the data.
    </div>
</div>
