.container {
    padding: 10px;
}

.message {
    font-size: small;
    font-weight: 600;
}

.oneRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    vertical-align: bottom;
}