<div>
    <b-modal id="modal-paste-rule" scrollable header-text-variant="light" header-bg-variant="dark"
    header-close-variant="danger" hide-footer v-model="showPasteModal" title="Paste Rule">
    <b-form-textarea
        class="mock-editor"
        id="mock-data"
        :required=true
        v-model="raw"
        :state="raw.length >= 1"
        placeholder="Enter mock data here"
        rows="5">
    </b-form-textarea>
    <div class="custom-action">
        <b-button @click="createRule" :disabled=!raw.length variant="primary">
            <b-icon variant="light" icon="download"></b-icon>
        </b-button>
    </div>
    </b-modal>
    <div style="padding: 0px 10px">
        <!-- Search Box -->
        <b-card-group deck>
            <b-card border-variant="light">
                <div class="search-container">
                    <b-form-input list="my-list-id" v-model="search" v-on:keyup.enter="searchRules"
                        placeholder="Search Rules">
                    </b-form-input>
                    <b-button-group>
                    <b-button @click="updateStatusInModal('add')" v-b-tooltip.hover title="Add New Rule"
                        variant="light">
                        <b-icon scale="1.5" variant="primary" icon="file-plus-fill"></b-icon>
                    </b-button>
                    <b-button scale="0.5" @click="createOnPaste()" v-b-tooltip.hover title="Paste and Create Rule"
                        variant="light">
                        <b-icon variant="primary" icon="files"></b-icon>
                    </b-button>
                    </b-button-group>
                </div>
            </b-card>
        </b-card-group>

        <!-- Add new rules  -->
        <div v-if="rules.length > 0" class="add-new">
        </div>

        <b-modal v-b-modal.modal-xl  id="modal-edit-rule" scrollable header-text-variant="light" header-bg-variant="dark"
            header-close-variant="danger" hide-footer v-model="modalShow" :title=modelHeaderText>
            <NewRules :rule=selected_rule v-on:saved=refreshRule
                v-on:close="()=> modalShow = false"  />
        </b-modal>


        <div v-if="rules.length < 1" class="no-rule-found">
            No rules found
        </div>
        <!-- List of rules -->
        <b-table v-if="rules.length > 0" sticky-header :items="rules" head-variant="light" headVariant=dark
            tableVariant=dark :fields="fields">
            
            <template v-slot:cell(is_enabled)="data">
                <b-form-checkbox switch v-model="data.item.is_enabled" style="text-align: right"
                    @change="toggleStatus(data.item, $event)" size="lg">
                </b-form-checkbox>
            </template>

            <!-- Title and Descriptions -->
            <!-- Is enabled -->
            <template v-slot:cell(#)="data">
                <b-dropdown size="sm" offset="25" right no-caret variant="link">
                    <template v-slot:button-content>
                        <b-icon icon="three-dots-vertical"></b-icon>
                    </template>
                    <b-dropdown-item variant="dark" size="sm"   @click="updateStatusInModal('edit', data.item)" >
                        <b-icon class="editor" icon="pencil" variant="primary" aria-hidden="true">
                        </b-icon>
                        <span> Edit </span>
                    </b-dropdown-item>
                    <b-dropdown-divider></b-dropdown-divider>
                    <b-dropdown-item variant="dark"  @click="deleteRule(data.item)" size="sm" >
                        <b-icon class="editor" icon="trash" variant="primary" aria-hidden="true"></b-icon>
                        <span> Delete </span>
                    </b-dropdown-item>
                </b-dropdown>
            </template>

            <template v-slot:cell(name)="data">
                <div style="text-align: left">
                    <strong v-b-tooltip :title=data.item.description v-on:dblclick="copy(data.item, 'b-toaster-bottom-center', false)">
                        {{ data.item.name | toCamelCase }}
                    </strong>
                </div>
            </template>

            <!-- Is enabled -->
            <template v-slot:head(is_enabled)="data">
                <div style="text-align: right">{{ data.label }}</div>
            </template>

        </b-table>
    </div>

</div>
